# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/instance/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Editor
.vscode/

backend/uploads/

backend/search/faiss_index.bin
backend/search/faiss_idmap.pkl